*{
    box-sizing: border-box;
    font-family: 'Be Vietnam', sans-serif;
}

body{
    background-image: linear-gradient(to right,#dec3fc,#9ec4fc);
    padding: 20px;
}


section{
    background-color: white;
    min-height: 90vh;
    min-width: 75vw;
    margin: 20px;
}


#titulo{
    text-align: center;
    padding: 25px 0px;
    font-weight: bold;
    font-size: 20px;
    color: hsl(270, 96%, 69%);
    background-color: #faf7fd;
    margin-top: 5px;
}


#input{
    border: none;
    width: 100%;
    padding: 50px;
    border-top: #d5d5d5 solid 1px;
}

#btnAdd{
    background-color:hsl(270, 100%, 80%);
    color: white;
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    border-style: none;
}

#divBtns{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 30%;
    padding: 5px;
    background-color: #faf7fd; 
    height: 70px;   
}

.btns {
    background-color:hsl(270, 100%, 80%);
    color: white;
    margin: 0 auto;
    border-radius: 5px;
    border-style:none;
    padding: 5px;
    height: 47px;
    width: 30%;
    margin-top: 8px;
}

ul {
    padding: 15px;
}

ul > li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

.content{
    max-width: 50px;
}
.checked{
    text-decoration: line-through;
    opacity: 0.5;
}

.btnOptions{ 
    background-color: transparent;
    border-style: none; 
    transition: 0.5s all;
    padding: 0;
    margin-right: 10px;
}

.checkStyle:hover{
    color: green;
    transform:scale(2);
    transition-duration: 0.4s;
}



.removeStyle:hover{
    color:red;
    transform:scale(2);
    /* transition-duration: 0.4s; */
}
/* === TAREFAS BOX=== */

.tarefa {
    border-top: #d5d5d5 solid 1px;
    padding: 0;
}

/* === INPUT BOX=== */

#inputPriority > p { 
    margin: 10px 10px;
    display:flex;
    justify-content: space-around;
    font-size: 15px;

}

.high{
color: red;
width: 65px;
}

.medium{
color: rgb(221, 221, 2);
width: 65px;
}

.low{
    color:green;
    width:65px;
}

