*{
    box-sizing: border-box;
    font-family: 'Be Vietnam', sans-serif;
}

body{
    background-image: linear-gradient(to right,#dec3fc,#9ec4fc);
    padding-top: 20px;
}


section{
    background-color: white;
    margin: 0 auto;
    min-height: 90vh;
    min-width: 75vw;
}

#titulo{
    text-align: center;
    padding: 25px 0px;
}


#input{
    border: none;
    width: 100%;
    padding: 50px;
    border-top: #d5d5d5 solid 1px;
}

#btnAdd{
    background-color:#ba7af8;
    color: white;
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    border-style: none;
}

#divBtns{
    display: flex;
    justify-content: center;
    margin-right: 3px;
    margin-left: 3px;
    width: 100%;
    position: relative;;
    bottom: 10px;
    margin-top: 50px;
}

.btns {
    background-color:#ba7af8;
    color: white;
    margin-right: 20px;
    border-radius: 5px;
    border-style:none;
    padding: 10px 10px;
}

ul {
    padding: 15px;
}

ul > li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

.checked{
    text-decoration: line-through;
    opacity: 0.5;
}

.xStyle { 
    background-color: white;
    border-style: none;

}

/* === TAREFAS BOX=== */

.tarefa {
    border-top: #d5d5d5 solid 1px;
}
